*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
}
.text {
    flex: 1;
    padding: 20px;
    margin: 50px;
}
.table {
    flex: 1;
    overflow: hidden;
}
table {
    margin: 50px;
    width:400px;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid white;
}
.rainbow {
    background: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red);
    height: 3px;
    width: 12%;
}
table p{
    font-size: 20px;
    margin: 5px;
}
table img{
    max-width: 100px;
    max-height: 100px;
}
table {
    width: auto;
    border-collapse: collapse;
    border-style: none;
    margin: 50px;
  }
  th, td {
    vertical-align: top;
    padding: 8px;
    text-align: left;
  }
  img {
    margin: 25px;
    max-width: 200px;
  }
  h3{
    margin-top: 30px;
    text-align: left;
  }
  p{
    margin:0;
  }